// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer_form {
}

textarea {
  width: 80%;
  height: 200px;
}

form input[type='text'] {
   width: 200px;
   border-radius: 5px;
 }

 .question {
   border-radius: 30px;
 }

 form input[type='text_area'] {
    border-radius: 5px;
  }

form input[type='submit'] {
   border-radius: 25px;
 }

.button_submit {
  width: 20%;
  height: 30px;
  background-color: #333333;
  border-style: hidden;
  border-radius: 25px;
  color: white;
}
